body {
	margin: 0;
	background-image: url('https://www.mundodeportivo.com/alfabeta/hero/2018/10/127018.alfabetajuega-pokemon-wallpapers-9-071115.jpg?width=1200&aspect_ratio=16:9');
	background-size: cover;
}
